.main{
width:100%;
background-color:#66ccff;
display:flex;
justify-content: center;
text-align: center;
}
.left{
width:35%;
border:1px solid #2df;
box-shadow: 3px 3px 3px #2df;
margin:1px;
padding:2px;
background-color: #FFFACD;
}
.right{
width:65%;
border:2px solid #2df;
margin:1px;
background-color: #FFFACD;
text-align: left;
}
img{
width:200px;
border-style:double;
border-radius: 10px solid #000;
}
h1,
h2,
h3,
{
	font-size: 33px;
}
}
	*@media only screen and (max-width:480px)and(min-width:75px);{


	.main{
		display:flex;
		flex-wrap: wrap;
	   }
	.left{
		width:95%;



	     }
}
.sset table,tr,td{
	border:2px solid #000;
	border-collapse: collapse;

}
table{
	margin-left: 75px;
}


